{% extends "layout.html" %}

{% block content %}
    <section class="header">
        <h1>About me</h1>
        <p>Hi I'm Caroline</p>
        <p>I'm a student at Treehouse. I'm doing a Techdegree in Python Development.</p>

        <p>How did I get here?</p>
        <p>I have more than 4 years of experience in the area of administration/finance. With each year of my professional experience, I could see how much I like technology and all the dynamism it brings to organizations. At one point, I questioned myself, why not start studying code?</p>
        <p>I've chosen the Python Development course precisely because of the affinity I have with data, that I bring from the Finance area.</p>
        <p>With the Treehouse course, I'm able to learn every detail from the beginning. And reinforce important values in the area, such as teamwork.</p>
        <p>As soon as I finish this Techdegree, I intend to learn a little more about Data Science.</p>
    </section>
{% endblock %}