{% extends "layout.html" %}

{% block content %}
    <section class="header">
        <h1>Python Developer</h1>
        <p>A short one-liner about your love of coding.</p>
        <img src="https://cdn.pixabay.com/photo/2016/11/29/13/14/attractive-1869761_1280.jpg" alt="Headshot of myself">
    </section>
    <section id="about">
        <h2>About Me</h2>
        <p>
            Pastry wafer chocolate cake caramels. 
            Gummi bears pudding sugar plum macaroon. 
            Cake tart apple pie soufflé sweet sweet. 
            Topping bear claw lemon drops gingerbread 
            biscuit pudding fruitcake icing chocolate bar.
        </p>
        <div id="triangle1"></div>
        <div id="triangle2"></div>
    </section>
    <section id="skills">
        <i class="fas fa-laptop-code"></i>
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
        </ul>
    </section>
    <section id="projects">
        <div id="triangle3"></div>
        <i class="fas fa-file-code"></i>
        <h2>Projects</h2>
        <div id="project-list">
            {% for project in projects %}
                <div id="project1" class="a-project">
                    <h3>{{ project.title }}</h3>
                    <a href="{{ project.github }}" class="github-btn">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        {{ project.description }}
                    </p>
                    <p>
                        Skills: {{ project.skills }} 
                    </p>
                </div>
            {% endfor %}
    </section>
    <section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <p>
            Pastry wafer chocolate cake caramels. 
            Gummi bears pudding sugar plum macaroon. 
            Cake tart apple pie soufflé sweet sweet. 
            Topping bear claw lemon drops gingerbread biscuit pudding fruitcake icing chocolate bar.
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            my_email@email.com
        </p>
    </section>
{% endblock %}